body {
  margin: 0;
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Patrick Hand SC', cursive;
}


/*NAV BAR */
.navbar {
  background: linear-gradient(to right, #ff7e5f, #feb47b); 
  padding: 10px; 
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-left:40px;
}

.navbar a {
  color: black; 
  text-decoration: none;
  
}

/*ABOUT PAGE */

.about-container {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f6/Cinderella_Castle_October_2021.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.8); 
  color:white;
  padding: 20px;
  border-radius: 10px; 
}

h1, h2, h3, p {
  margin: 10px 0;
}

/*PEOPLE LIST PAGE*/
.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}


.card {
  width: 250px; 
  height: 300px; 
  margin: 20px;
  text-align: center;
  border: 1px solid wheat;
  border-radius: 5px;
  overflow: hidden; 
  background: linear-gradient(to right, #15a2de, #bddee9)
}

.card img {
  width: 100%;
  height: 70%; 
  object-fit: cover; 
  border-bottom: 1px solid wheat; 
}

.card-content {
  padding: 10px;
  color:black;
  
 
}

/*PEOPLE DETAIL PAGE*/

.detail {
  text-align: center;
}

.person-image {
  border-radius: 50%;
  width: 200px; 
  height: 200px;
  object-fit: cover;
  margin-top:20px;
}



.detail h2 {
  margin-bottom: 5px;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  border: 2px solid gold;
  margin:20px;
}

.item {
  padding: 10px;
  text-align: center;
}

.item-image {
  width: 100%;
  max-height: 150px;
  object-fit: contain; 
  border-radius: 5px;
  margin-bottom: 5px;
}