body {
  margin: 0;
  text-align: center;
}

.navbar {
  background-color: #333; 
  padding: 10px; 
}

.navbar > div {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white; 
  text-decoration: none;
  
}

.card {
  border: 2px solid black;
  width: 200px;
  margin: 10px;
}


.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}